#root {
  background-image: linear-gradient(navy, #282c34);
}

.container {
  text-align: center;
  background: #627180;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav-bar-brand {
  font-family: "Impact", "Charcoal", "sans-serif";
  font-weight: 700;
}

.App-link {
  color: #09d3ac;
}

.row {
  background: #304c68;
}

.col-sm {
  background: #304c68;
}
