#root {
  background-image: linear-gradient(#282c34, black);
}

.container {
  text-align: center;
  background: #627180;
}

.container-fluid {
  text-align: center;
  background: #343a40;
}

#topBar {
  position: right;
}

ul {
  position: right;
  top: 0;
  width: 100%;
}

li {
  border: 1px solid black;
  background-color: #f3f3f3bd;
}

li a:hover {
  background-color: #304c68;
  color: white;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav-bar-brand {
  font-family: "Impact", "Charcoal", "sans-serif";
  font-weight: 700;
}

.App-link {
  color: #09d3ac;
}

.row {
  background: #1e3246;
}

.col-sm {
  background: #304c68;
}
